# Ignorar dados brutos e processados
/data/raw/
/data/processed/

# Arquivos Python compilados
__pycache__/
*.pyc

# Notebooks checkpoints
.ipynb_checkpoints/

# Configurações locais e IDEs
.vscode/
.idea/

# Logs
*.log

venv/
__pycache__/
*.pyc
*.dbc
*.dbf
*.csv
*.log

